@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Title {
    Kanban
}

@section Body {
<div class="board-selector">
    <select data-bind="options: boards, optionsText: 'Name', optionsValue: 'Id', value: boardId"></select>
    <button data-bind="click: newBoard">Create</button>
</div>
<div data-bind="with: kanbanBoard()">
    <div>
        <div class="third">
            <form data-bind="submit: addNewTask">
                <input type="text" placeholder="Task Name" data-bind="value: newTaskName" />
                <button type="submit">Add</button>
            </form>
        </div>
        <div class="third">
            <progress data-bind="attr: {max: totalTasks}, value: completeBoard.numTasks"></progress>
            <div class="center">
                <span data-bind="text: percentComplete"></span>%
            </div>
        </div>
        <div class="third">
            <div class="trash" data-bind="dropzone: function () { }">
                Trash
            </div>
        </div>
    </div>

    <div>
        <div class="third" data-bind="template: { name: 'BoardTemplate', data: todoBoard }">
        </div>
        <div class="third" data-bind="template: { name: 'BoardTemplate', data: inProgressBoard }">
        </div>
        <div class="third" data-bind="template: { name: 'BoardTemplate', data: completeBoard }">
        </div>
    </div>
</div>
}

@section Scripts {
    <script>
        require(['ko', 'jquery', 'KanbanViewModel'], function (ko, $, KanbanViewModel) {
            $(function () {
                var vm = new KanbanViewModel();
                ko.applyBindings(vm);
            });
        });
    </script>

    <script id="BoardTemplate" type="text/html">
        <h3 class="center"><span data-bind="text: name"></span> (<span data-bind="text: numTasks"></span>)</h3>
        <div class="board" data-bind="dropzone: addTask, foreach: tasks">
            <div class="task" data-bind="draggable: { data: $data, onMove: $parent.removeTask }, text: Description"> </div>
        </div>
    </script>
}